<!DOCTYPE html>
<html lang="en">
  <head>
    
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Control de Inventarios</title>
    <meta name="description" content="Control de Inventario" />
    <link rel="stylesheet" href=" {% static 'AppControl/css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
            <img
              src=""
              alt=""
              class=" "
            />
          </div>
          <span class="header__logo-sub">Control de Inventario 1.0</span>
        </div>
        <div class="header__main">
          <ul class="header__links">
            <li class="header__link-wrapper">
              <a href= '{% url "inicio" %}' class="header__link"> Home </a>
            </li>
            <li class="header__link-wrapper">
              <a href= '{% url "about" %}' class="header__link">Sobre Nosotros </a>
            </li>
            <li class="header__link-wrapper">
              <a href= 'Cliente' class="header__link"> Clientes    </a>
            </li>
            <li class="header__link-wrapper">
              <a href='Repuestos' class="header__link"> Repuestos </a>
            </li>
            <li class="header__link-wrapper">
              <a href='Ventas' class="header__link"> Ventas </a>
            </li>
            <li class="header__link-wrapper">
                <a href='Contacto' class="header__link"> Contacto </a>
              </li>
            
          </ul>
          <div class="header__main-ham-menu-cont">
            <img
              src="./assets/svg/ham-menu.svg"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="./assets/svg/ham-menu-close.svg"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
      
      </div>
    </header>
    <section class="home-hero">
      <div class="home-hero__content">
        <h1 class="heading-primary">Control de Inventarios V1</h1>
        <div class="home-hero__info">
          <p class="text-primary">
            
          </p>
        <h1 class="home-hero__info" >
            <div class="home-hero__info">
                <p class="text-primary">
                {% block titulo_pagina %}

                {% endblock %}
            </div>
                </p>
         </h1>
        
        
   
      </div>
    </section>
    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              <span> </span>
            </h2>
            <div class="">
              <a target="" rel="" href="">
                <img
                  class=""
                  src=""
                  alt=""
                />
              </a>
              <a target="" rel="" href="">
                <img
                  class=""
                  src=""
                  alt=""
                />
              </a>
              <a target="" rel="" href="">
                <img
                  class=""
                  src=""
                  alt=""
                />
              </a>
              <a target="" rel="" href="">
                <img
                  class=""
                  src=""
                  alt=""
                />
              </a>
              <a target="" rel="" href="">
                <img
                  class=""
                  src=""
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">Repuestos Electronicos Duran</h4>
            <p class="main-footer__short-desc">
              Somos representantes de grandes marcas de repuestos electronicos a nivel mundial
            </p>
          </div>
        </div>

        <!-- If you give me some credit or shoutout here by linking to my website, then it will be a big thing for me and will help me a lot :) -->
        <div class="main-footer__lower">
          &copy; Copyright 2024. Made by
          <a rel=" " target=" " href=" "
            >Nelson Duran Sanhueza</a
          >
        </div>
      </div>
    </footer>

    <script src="./index.js"></script>
  </body>
</html>